@font-face {
    font-family: 'urban_jungle';
    font-path: '../assets/urbanjungledemo-webfont';
    font-weight: normal;
    font-style: normal;

}

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.page,
#page {
  height: 100%; /* needed for proper layout */
}

body {
  color: white;
  text-align: center;
}

#wrapper {
  width: 75vw;
  display: flex;
  min-height: 100vh;
  background-color: black;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  header {
    flex: 0 auto;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    .title {
      font-family: 'urban_jungle';
      fill: white;
    }
  }
  section {
    flex: 2;
    padding: 1rem;
    h2 {
      font-family: 'urban_jungle';
      margin: 0;
      padding: 0;
      font-size: responsive 1rem 5rem;
    }
    p {
      margin: 0;
      font-size: responsive .5rem 1rem;
      text-align: justify;
      margin-bottom: 1rem;
    }
    .code {
      text-align: justify;
    }
  }
}

a {
  font-weight: bold;
  color: white;
}

a:visited {
  color: white;
}